nav {
    background-color: rgb(246, 98, 98);
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

nav div h1 {
    margin-bottom: 0px;
    color: white;
    font-size: x-large;
}

#team-member {
    padding: 0;
    margin: 3%;
}

#member-header h2,
#member-header h3 {
    color: white;
    margin-top: 2%;
}